In [10]:

for i in range(1,6):
    print(f"{i} " + ("*" * i))

1 *
2 **
3 ***
4 ****
5 *****

In [12]:

for i in range(5,0,-1):
    print(f"{i} " + ("*" * i))

5 *****
4 ****
3 ***
2 **
1 *

In [16]:

for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [19]:
for i in range(5):
    for j in range(5):
        if i==j or i+j==4:
            print("*", end="")
        else:
            print(" ", end="")

    print()

*   *
 * *
  *
 * *
*   *

In [24]:
for i in range(5,0,-2):
    j = 5 - i
    print(" " * j, end="")
    print("*"*i)

*****
  ***
    *

In [28]:
for idx, i in enumerate(range(5, 0, -2)):
    print(" " * idx, end="")
    print("*"*i, end="")
    print()

*****
 ***
  *

In [30]:
for i, j in zip(range(5, 0, -2), range(1, 4)):
    print(" " * j, end="")
    print("*" * i, end="")
    print()

 *****
  ***
   *

In [31]:
for i, j in zip(range(5), range(5,0,-2)):
    print(" "*i, end="")
    print("*"*j, end="")
    print()

*****
 ***
  *

In [34]:
for i in range(1,6,2):
    j = 5-i
    print(" " * j, end="")
    print("*"*i, end="")
    print()

    *
  ***
*****

In [42]:
for idx, i in enumerate(range(1,6,2)):
    # print(idx)
    j = 2 - idx
    print(" "*j, end="")
    print("*"*i, end="")
    print()

  *
 ***
*****

In [48]:
for i, j in zip(range(5), range(1,6,2)):
    t = 2-i
    print(" "*t, end="")
    print("*"*j, end="")
    print()

  *
 ***
*****

In [45]:
def add(a,b):
    return a+b

result = add(1,2)
print(result)

3

In [57]:
result = [x*y for x in range(2,10) for y in range(1,10)]
j = 0
for i in result:
    if i < j:
        print()
    j = i
    print(i, end=" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [54]:
result = [f"{x} * {y} = {x*y}" for x in range(2, 10) for y in range(1, 10)]
for i in result:
    print(i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
i = 5


def f(arg=i):
    print(arg)


i = 6
f()

5

In [61]:
def f(arg=1):
    print(arg)

f(77)

77

In [ ]:
def add(*args):
    total = 0
    [total += i for i in args]
    return total
    #return sum(args)
    # total = 0
    # for i in args:
    #     total += i
    # return total
    
    

    

result = add(1, 2, 3, 4, 5)
print(result)

SyntaxError: invalid syntax (3117383772.py, line 8)

In [65]:
add = lambda *args: sum(args)
result = add(1, 2, 3, 4, 5)
print(result)

15

In [67]:
from functools import reduce

add = lambda *args: reduce(lambda x, y: x + y, args, 0)
result = add(1, 2, 3, 4, 5)
print(result)

15

In [69]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1, b=2, c=[1,2,3,4,5])

{'a': 1, 'b': 2, 'c': [1, 2, 3, 4, 5]}

In [72]:
def add_and_mul(a,b): 
    return a+b, a*b

result = add_and_mul(3, 4)
print(result)

result1, result2 = add_and_mul(3, 4)
print(result1, result2)

(7, 12)
7 12

In [1]:
n=5
for i in range(1, n + 1):
    spaces = " " * (n - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

    *
   ***
  *****
 *******
*********

In [3]:
add = lambda a, b: a + b
result = add(3, 4)
print(result)

7

In [4]:
add = lambda *args: sum(args)
result = add(3, 4, 5)
print(result)

12

In [ ]:
a  =1
b =2
a == b